<h2>Assign Bug To Developer</h2>

  <table>
    <tr>
      <th>Bug Title</th>
    </tr>

    <tbody>
      <% @bugs.each do |p| %>
        <tr>
            <td> <%= p.title %> </td>
        </tr>
      <% end %>
    <tbody>
  <table>

