
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Bug Projects </h2>

    <%= form_for @history,  :url => bug_assign_bug_histories_path(@history) do |f| %>

      <div class="form-group">
        <%= f.collection_select(:bug_id, @bugs, :id, :title, {:include_blank => false}, {:class => 'form-control'}) %>
      </div>

      <div class="form-group">
        <%= f.collection_select(:user_id, @developer, :id, :name, {:include_blank => false}, {:class => 'form-control'}) %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>
