<h2>Assign Projects </h2>


<%= form_for @history do |h| %>

  <div class="form-group">
  <%= options_from_collection_for_select(current_user.Project.all, :name) %>
  </div>

  <div class="form-group">
  <%= options_from_collection_for_select(User.find(User.user_type :"devloper"),  :name) %>
  </div>

  <div class="form-group">
  <%= f.submit %>
  </div>

<% end %>
