<h2>Assign Project To Developer</h2>

  <table>
    <tr>
      <th>Table Name</th>
    </tr>

    <tbody>
      <% @projects.each do |p| %>
        <tr>
            <td> <%= p.title %> </td>
        </tr>
      <% end %>
    <tbody>
  <table>

